@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    display: block;
    margin: 8px;
    background-color: rgb(210, 233, 247);
}

#container{
    display: grid;
    gap: 1em;
    margin: auto;
    grid-template-columns: 1fr;
}

#img-botafogo{
    width: 167px;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 45%;
    padding-top: 5%;

}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh;

}


#areaLogin{
    text-align: center;
    flex: 0.7 ;
}

#senha-login{
    width: auto;
}


#entrar{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
    font-size: 12px;
    padding: 4px 5px;
    margin: 0px 0px 0px 10px;
}


#senha{
    height: 20px;
    padding: 0.3em;
    margin: 0.5em;

}


#titulo_login{
    margin: 0px 0px 0px;
    color: rgb(0, 0, 0);

}

#titulo-jogadores{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #002555;
    align-items: center;
    margin: 0px 0px 30px 0px;
    padding: 0.5em 1em;
    position: relative;
    flex-direction: row;
}

h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#button-sair{
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    background-color: #f5ac00;
    padding: 15px;
    border-radius: 4px;
    width: 3em;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

#voltar-button{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    display: block;
    text-align: center;

}

#button-elenco{
    display: block;
    border: none;
    font-size: large;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 1em auto 0.5em;
}

#carregando{
    display: block;
    text-align: center;
    color: black;
}

#article_jogadores{
    width: min-content;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: min-content;
    cursor: pointer;
}

#article_jogadores img{
    width: 220px;
    object-fit: none;
    height: 300px;
    object-position: 100% 10%;
}

#article_jogadores h1{
    font-size: 1em;
}

#filtro{
    text-align: center;
    display: none;
}

button{
    font-size: 18px;
    padding: 13px;
    background-color: black;
    color: rgb(241, 241, 241);
    border-radius: 4px;
    margin: 20px;
    cursor: pointer;

}

#body_jogador{
    margin: 3em;
}

#container_01{
    display: flex;
    align-items: center;
    gap: 5em;
    flex-direction: row;
}

#container_02{
    width: fit-content;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;

}

#container_03{
    font-size: 1.1em;

}



p{
    font-size: 1.2em;
    justify-content: center;
    width: 50%;
}


#saiba_mais{
    border: solid 1px black;
    border-radius: 8px;
    color: black;
    background-color: #f5ac00;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    padding: 10px;
}

#saiba_mais:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
    cursor: pointer;

}

#pesquisa{
    text-align: center;
    margin: 0px auto 2em;
}

#barra_pesquisa{
    text-align: center;
    line-height: 3em;
    max-width: 80%;
    width: 30em;
}



@media screen and (min-width: 769px) {
    #button-elenco {
        display: none;
    }
    #filtro{
        display: flex;
        justify-content: center;

    }
}

@media screen and (min-width: 769px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1025px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1301px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1401px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}



@media screen and (max-width: 769px) {
    #container_01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;
    }
    #container_03 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

